<h4>Tecnologías</h4>
<div class="tecnologies">
    <mat-card class="example-card">
        <img mat-card-image src="assets/img/angular.svg" alt="Angular">
    </mat-card>
    <mat-card class="example-card">
        <img mat-card-image src="assets/img/laravel.svg" alt="Photo of a Shiba Inu">
    </mat-card>
    <mat-card class="example-card">
        <img mat-card-image src="assets/img/nodejs.png" alt="Photo of a Shiba Inu">
    </mat-card>
    <mat-card class="example-card">
        <img mat-card-image src="assets/img/css3.png" alt="Photo of a Shiba Inu">
    </mat-card>
    <mat-card class="example-card">
        <img mat-card-image src="assets/img/javascript-logo.png" alt="Photo of a Shiba Inu">
    </mat-card>
</div>