<h4>Certificados</h4>
<div class="certificates">
    <mat-card class="example-card">
        <img mat-card-image src="assets/img/cusro-javascript.PNG" alt="Angular">
    </mat-card>
    <mat-card class="example-card">
        <img mat-card-image src="assets/img/angular-profesional.PNG" alt="Photo of a Shiba Inu">
    </mat-card>
    <mat-card class="example-card">
        <img mat-card-image src="assets/img/rendimiento-angular.PNG" alt="Photo of a Shiba Inu">
    </mat-card>
    <mat-card class="example-card">
        <img mat-card-image src="assets/img/curso-css3.PNG" alt="Photo of a Shiba Inu">
    </mat-card>
    <mat-card class="example-card">
        <img mat-card-image src="assets/img/node-experto.PNG" alt="Photo of a Shiba Inu">
    </mat-card>
</div>