<div class="main">
    <div class="main-avatar">
        <img src="assets/img/manuelalvarez.jpg" alt="manuelalvarez">
    </div>
    <section class="info">
        <div class="main-info">
            <h1 class="main-info__name">Manuel Alvarez</h1>
            <small class="main-info__position">UI/UX & FRONT-END DEVELOPER</small>
            <p class="main-info__description">
                Analista y desarrollador de software, especialista en gestión y seguridad de bases de datos y futuro ingeniero informático. Apasionado por las nuevas tecnologías, enamorado de JavaScript y del Mobile first. Me encanta el diseño y desarrollo centrado en
                la experiencia del usuario, el desarrollo ágil y los nuevos retos.
            </p>
        </div>
        <div class="main-socials">
            <div class="main-socials_box">
                <img src="assets/img/codepen-logo.png" alt="codepenio">
            </div>
            <div class="main-socials_box">
                <img src="assets/img/dribbble-logo.png" alt="dribbble">
            </div>
            <div class="main-socials_box">
                <img src="assets/img/linkedin-logo.png" alt="behance">
            </div>
            <div class="main-socials_box">
                <img src="assets/img/github-logo.png" alt="github">
            </div>
            <div class="main-socials_box">
                <img src="assets/img/platzi-logo.png" alt="platzi">
            </div>
        </div>
    </section>


</div>
<section class="tecnologies">
    <app-banner-tecnologies></app-banner-tecnologies>
</section>

<section class="certificados">
    <app-banner-certificates></app-banner-certificates>
</section>

<section class="projects">
    <app-banner-projects></app-banner-projects>
</section>